@charset "UTF-8";
/*Layout*/
.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.3fr 0.1fr 1.5fr 0.2fr;
  min-height: 100vh;
  margin: 3vh;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

/*Limpar Formatos*/
* {
  margin: 0px;
  padding: 0px;
}

/*Cabeçalho*/
.logo {
  grid-column: 1/1;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.header {
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: aqua;
  color: #fff;
}

/*Menu*/
.nav {
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  z-index: 9;
}
.nav__item {
  display: inline;
  list-style: none;
  margin: 0.3em;
}
.nav__link {
  text-decoration: none;
  color: aqua;
}

.menu {
  grid-row: 2/3;
  display: none;
}
.menu__link {
  text-decoration: none;
  color: aqua;
}

/*Seções*/
.secao__home, .secao__sobre, .secao__servicos, .secao__depoimentos, .secao__contato {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1.5rem;
}
.secao__home--inativo, .secao__sobre--inativo, .secao__servicos--inativo, .secao__contato--inativo, .secao__depoimentos--inativo {
  display: none;
}

.home__titulo {
  font-size: 1.5rem;
  text-align: center;
}

/*Formulário*/
.form {
  display: flex;
  flex-direction: column;
}
.form__label {
  font-weight: bold;
  padding: 0.3em;
  margin: 0.3em;
}
.form__input {
  width: 20em;
  height: 1.5em;
  padding: 0.15em 0.8em;
}
.form__textarea {
  width: 20em;
  height: 5em;
  padding: 0.8em;
}

/*Rodapé*/
.footer {
  grid-column: 1/4;
  grid-row: 4/5;
  text-align: center;
  color: #fff;
}

.material-symbols-outlined {
  color: aqua;
  margin-right: 0.3em;
}

/*MEDIA QUERIES*/
/*Tela menor ou igual 600px*/
@media (max-width: 600px) {
  .container {
    grid-template-rows: 0.3fr 0.1fr 0.1fr 1.5fr 0.2fr;
  }
  .logo {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .header {
    grid-column: 2/4;
    font-size: 0.7rem;
  }
  .nav {
    grid-row: 3/4;
    font-size: 1rem;
  }
  .nav__list {
    display: none;
    flex-direction: column;
  }
  .nav__item {
    border: 1px aqua solid;
    border-radius: 5px;
    padding: 0.2em;
  }
  .nav__link {
    display: flex;
  }
  .menu {
    display: flex;
    grid-column: 1/4;
    grid-row: 2/3;
    justify-content: center;
    padding: 1em;
  }
  .secao__home, .secao__sobre, .secao__servicos, .secao__depoimentos, .secao__contato {
    grid-column: 1/4;
    grid-row: 4/5;
  }
  .home__titulo {
    font-size: 1.3em;
  }
  .footer {
    grid-row: 5/6;
    font-size: 0.8em;
  }
}
/*Tela maior que 601px e menor que 900px*/
@media (min-width: 601px) and (max-width: 900px) {
  .header {
    grid-column: 2/4;
    font-size: 1em;
  }
  .nav {
    font-size: 1rem;
    padding-top: 0.5rem;
  }
  .secao__home {
    grid-column: 1/4;
    grid-row: 3/4;
  }
}

/*# sourceMappingURL=estilos.css.map */
